@{
    ViewBag.Title = "Import kiem ke";
    Layout = "~/Views/Shared/_SingleLayout.cshtml";
}
<script src="~/Scripts/jquery-1.4.1.min.js"></script>
@using (Html.BeginForm())
{
    @Html.TextArea("ItemID", new { @style = "width:100%;height:300px" });
    <p style="text-align: center">
        <input type="button" id="choosebutton" name="name" value="Import" onclick="importdata()" />
        <input type="button" id="closebutton" name="name" onclick="closew()" value="Đóng" />
    </p>
   
}
<script>
    function closew() {
        parent.location=parent.location;
      
    }
    function importdata() {
        $("#choosebutton").hide();
        $("#ms").html("Đang tải. Vui lòng chờ trong giây lát....");

        $.post('/admin/ImportKK', { text: $("#ItemID").val()}, function (result) {

            if (result.success) {
                $("#choosebutton").show();
                alert(result.msg);
                $("#ItemID").val("");
            } else {

                alert(result.errorMsg);
                $("#choosebutton").show();
                $("#ms").html("");
             
            }
        }, 'json');


    }
    $(document).ready(function myfunction() {
        $("textarea").attr({ "placeholder": "Vị trí | ghi chú | mã hàng | số lượng" })
    })
    
</script>
