@{
    ViewBag.Title = "Trang chủ admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="text-align: center">Bạn không được phép vào trang này</h2>
<script>
    $(document).ready(function () {
        $("#default").addClass("menuselect");
    
    })
</script>
