@{
    /**/

    ViewBag.Title = "Vị trí";
    Layout = "~/Views/Shared/SP.cshtml";
}
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery-barcode.js"></script>
<link href="~/css/tv.css?v=1" rel="stylesheet" />
<style>
    html {
        background-color: #FFF;
    }

    body {
        width: 21cm;
        margin: 0 auto;
        font-family: Arial;
        font-size: 12pt;
    }

    h2 {
        text-align: center;
    }

    .mauin {
        width: 24.5%;
        float: left;
        overflow: hidden;
        height: 3.7124cm;
        border: 1px solid #333;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        page-break-inside: avoid;
    }

    .clear {
        clear: both
    }

    .pallet{
        width:200px;
        height:80px;
        margin:0 auto;
        display:block;
    }

    .page-break {
        display: block;
        page-break-before: always;
    }
</style>
@foreach (System.Data.DataRow item in ViewBag.data)
{
   

    <div class="mauin">


        <h2>@item["Location"]</h2>
        <div class="pallet" id="@item["Location"]">

        </div>

    </div>
}
<div class="footer">

</div>
<script>

    $(document).ready(function () {
        var arr = $(".pallet").get();
        for (var i = 0; i < arr.length; i++) {
           $(arr[i]) .barcode(
                $(arr[i]).attr("id"), // Value barcode (dependent on the type of barcode)
                "code128" // type (string)
            );

        }
    })

</script>

