@{
    ViewBag.Title = "Danh sách hàng hóa và số khối";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#division").addClass("menuselect");

    })
</script>
<div class="clear">
</div>

<table id="dg" title="Danh sách đơn vị" nowrap="False"  class="easyui-datagrid" style="width: 100%; height: 350px; margin: 0 auto" url="/admin/get_divisions" toolbar="#toolbar" rownumbers="true" fitcolumns="true" singleselect="true">
    <thead>
        <tr>

            <th field="DivisionID" width="150">Mã đơn vị</th>
            <th field="DivisionName" width="150">Tên đơn vị</th>
            <th field="Address" width="150">Địa chỉ</th>
            <th field="Phone" width="150">Điện thoại</th>
            <th field="Site" width="150">Site</th>

        </tr>
    </thead>
</table>
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="newItem()">Thêm</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="editItem()">Sửa</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="deleteItem()">Xóa</a>

</div>

<div id="dlg" class="easyui-dialog" style="max-width: 500px" closed="true" buttons="#dlg-buttons">
    <form id="fm" method="post" novalidate style="margin: 0; padding: 20px 50px">
        <div style="margin-bottom: 20px; font-size: 14px; border-bottom: 1px solid #ccc">Thông tin đơn vị</div>

        <div style="margin-bottom: 10px">
            <input name="DivisionID" class="easyui-textbox" required="true" label="Mã đơn vị:" style="width: 100%">
        </div>
        <div style="margin-bottom: 10px">
            <input name="DivisionName" class="easyui-textbox" required="true" label="Tên đơn vị:" style="width: 100%">
        </div>
        <div style="margin-bottom: 10px">
            <input name="ConnectionString" class="easyui-textbox" required="true" label="Chuỗi kết nối server:" style="width: 100%">
        </div>

        <div style="margin-bottom: 10px">
            <input name="Address" class="easyui-textbox" label="Địa chỉ:" style="width: 100%">
        </div>
        <div style="margin-bottom: 10px">
            <input name="Phone" class="easyui-textbox" label="Điện thoại:" style="width: 100%">
        </div>

        <div style="margin-bottom: 10px">
            <input name="Site" class="easyui-textbox" required="true" label="Site:" style="width: 100%">
        </div>

    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconcls="icon-ok" onclick="saveItem()" style="width: 90px">Cập nhật</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width: 90px">Bỏ qua</a>
</div>





<div class="clear">
    <br />
</div>




<script type="text/javascript">


    var url;
    function newItem() {
        $('#dlg').dialog('open').dialog('center').dialog('setTitle', 'Thêm đơn vị');
        $('#fm').form('clear');
        var row;

        url = '/admin/add_division';
    }
    function editItem() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $('#dlg').dialog('open').dialog('center').dialog('setTitle', 'Sửa đơn vị');
            $('#dlg').form('load', row);
            url = '/admin/update_division?id=' + row.DivisionID;
        }
    }



    function saveItem() {

        $('#fm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.errorMsg) {
                    $.messager.show({
                        title: 'Error',
                        msg: result.errorMsg
                    });
                } else {
                    $.messager.show({
                        title: 'Thông báo',
                        msg: result.msg
                    });

                    $('#dlg').dialog('close');        // close the dialog
                    $('#dg').datagrid('reload');    // reload the user data
                }
            }
        });

    }
    function deleteItem() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            $.messager.confirm('Xác nhận', 'Bạn có chắc là muốn xóa đơn vị này?', function (r) {
                if (r) {

                    $.post('/admin/deletedivision', { DivisionID: row.DivisionID }, function (result) {
                        if (result.success) {
                            alert('Đã xóa thành công');
                            location = location;
                            
                        } else {
                            alert(result.errorMsg);
                            $.messager.show({    // show error message
                                title: 'Error',
                                msg: result.errorMsg
                            });
                           

                        }
                    }, 'json');
                }
            });
        }

    }

</script>
